* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1F2937;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  max-width: 300px;
  padding: 0 0 15px 0;
}

nav {
  display: flex;
  justify-content: right;
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  text-align: center;
  align-items: center;
  margin: 25px 10% 25px 10%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #E5E7EB;
  font-size: 18px;
}

nav>p {
  margin-right: auto;
}

main {
  margin: 5% 10% 45px 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right{
  margin-left: auto;
  width: 45%;
  height: 250px;
  border: #3882F6 solid 2px;
  background-color: #E5E7EB;
}


main p {
  font-size: 18px;
  color: #F9FAF8;
  max-width: 390px;
  padding: 0 0 20px 0;
}

main button {
  background-color: #3882F6;
  border-radius: 10px;
  border: 2px black;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 35px;
  color: #F9FAF8;
  font-size: 20px;
  font-weight: bolder;
}

section {
  background-color: white;
}

section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 25px;
}

.gallery img {
  background: transparent;
  border: 3px solid rgba(0, 0, 155, 0.5);
  border-radius: 12px;
  width: 200px;
  height: 200px;
}

figcaption{
  text-align: center;
  width: 200px;
}


article{
  display: flex;
  justify-content: center;
  color: #1F2937;
  font-size: 36px;
  background-color: #E5E7EB;
}

article p{
  margin: 75px 0px 75px 0px;
  width: 45%;
  font-style: italic;
}

.bold {
  margin-top: 25px;
  font-weight: bolder;
  float: right;
}


.caction {
  background-color: white;
  display: flex;
  justify-content: center;
}

.rectangle{
  margin: 50px 0 50px 0;
  width: 60%;
  height: 195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3882F6;
  border-radius: 15px;
  padding: 50px;
  color: white;
  font-size: 18px;
}

.bold2 {
  font-size: 24px;
  color:white;
  font-weight: bolder;
  padding-bottom: 10px;
}

.rectangle button{
  background-color: #3882F6;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  min-width: 110px;
  height: 35px;
  color: #F9FAF8;
  font-size: 20px;
  font-weight: bolder;
  overflow: hidden;
  margin-left: auto;
}

footer {
  text-align: center;
  color: #F9FAF8;
  padding: 35px;
  font-size: 18px;
}